.button {
  font-size: var(--font-size-16);
  line-height: var(--line-height-24-size);
  font-weight: 600;
  border-radius: var(--border-radius-10);
}
.label {
  line-height: var(--line-height-24);
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--color-placeholder-gray);
  padding-bottom: 7px;
}
.green {
  background-color: var(--color-button-green);
  &:hover {
    background-color: var(--color-button-green-hover);
    color: var(--color-white);
  }
  color: var(--color-white);
}
.white {
  background-color: var(--color-white);
}
.gray {
  background-color: var(--color-bg-gray);
  &:hover {
    background-color: var(--color-bg-gray-hover);
  }
}
.full {
  width: 100%;
}

.long {
  width: 136px;
}
.short {
  width: 70px;
}
.normal {
  height: 40px;
}

.large {
  height: 46px;
}

.smallFont {
  font-size: var(--font-size-12);
}
