.profile {
  width: 100%;
  height: auto;

  .navigation {
  }
  .outlet {
    background-color: var(--color-white);
    border-radius: var(--border-radius-20);
    height: auto;
    padding: 26px 30px 30px 30px;
  }
}
