@mixin card {
  background-color: var(--color-bg-gray);
  border-radius: var(--input-border-radius);
}

@mixin card-input {
  @include card;
  padding: 16px 20px 10px 20px;
}
@mixin card-input-area {
  @include card;
  padding: 14px 20px 14px 20px;
}
