:root {
  --color-white: #ffffff;
  --color-placeholder-gray: #6d7587;
  --color-upload-gray: #8596ab;
  --color-bg-gray: #f4f5fc;
  --color-notification-green: #20c46d;
  --color-notification-red: #ec3535;
  --color-button-green: #4fac68;
  --color-button-red: #df4149;
  --color-button-green-hover: #479c5e;
  --color-highlight-blue: #5561b3;
  --color-highlight-blue-hover: #4c579c;
  --color-blue-dark: #161f5e;
  --color-table-gray: #3a416f;
  --color-table-blue: #3a416f;
  --color-black: #222631;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-26: 1.625rem;
  --font-size-32: 2rem;
  --line-height-18: 1.125rem;
  --line-height-19: 1.192rem;
  --line-height-21: 1.313rem;
  --line-height-22: 1.362rem;
  --line-height-23: 1.406rem;
  --line-height-24: 1.5rem;
  --line-height-30: 1.873rem;
  --line-height-35: 2.23rem;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
  --border-radius-25: 25px;
  --input-border-radius: 15px;
  --button-border-radius-smaller: 10px;
  --button-border-radius: 15px;
  --section-border-radius: 20px;
  --image-border-radius: 10px;
}
a {
  text-decoration: none;
  color: unset;
}
p {
  margin-bottom: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.accordion-body {
  padding: 0;
  border: unset;
  padding: 19px 0 0 50px;
}
.accordion-item {
  border: 0;
  padding-bottom: 10px;
}

.accordion-button {
  padding: 0;
  &:not(.collapsed) {
    background-color: unset;
    box-shadow: unset;
  }
  &:focus {
    box-shadow: unset;
  }
}
.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
h3 {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  line-height: var(--line-height-30);
  font-size: var(--font-size-22);
}
h2 {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-26);
  line-height: var(--line-height-35);
  color: var(--color-black);
  margin-bottom: 0;
}
.poppins {
  font-family: "Poppins", "sans-serif";
}
.sans {
  font-family: "Open Sans", "sans-serif";
}
html {
  font-family: "Poppins", "sans-serif";
  @media (min-width: 320px) {
    font-size: 11.5px;
  }
  @media (min-width: 375px) {
    font-size: 12px;
  }
  @media (min-width: 425px) {
    font-size: 12.5px;
  }
  @media (min-width: 768px) {
    font-size: 13px;
  }
  @media (min-width: 991px) {
    font-size: 13.5px;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
  }
  @media (min-width: 1288px) {
    font-size: 14.5px;
  }
  @media (min-width: 1448px) {
    font-size: 15px;
  }
  @media (min-width: 1668px) {
    font-size: 15.5px;
  }
  @media (min-width: 1920px) {
    font-size: 16px;
  }
}
